@model IEnumerable<CPW221_PokemonAdoptionCenter.Models.Pokemon>

@{
    ViewData["Title"] = "Our Pokémon";
}

<h1>Our Lovely Residents</h1>

<div class="container text-center">
        <div class="row" >
        @foreach(var item in Model)//Creates a column for each Pokemon in the database
        {
            <div class="col" style="padding-bottom: 10px">
                <img src="https://placehold.co/250"></img>
                <div class="accordion-item" style="width: 88%; margin: auto;">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="@item.Id" aria-expanded="false" aria-controls="aria-controls">
                            @item.Name
                        </button>
                    </h2>
                    <div id="@item.Id" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Species: @item.PokemonType</p>
                            <p>Age: @item.Age</p>
                            <p>@item.Description</p>
                            <p>Available: @item.IsAvailable</p>
                        </div>
                    </div>
                </div>
            </div>//PROBLEM TO FIX: I want to make it so only the clicked accordion opens, instead of all of them opening at once. 
        }
        <div/>
</div>