@model IEnumerable<CPW221_PokemonAdoptionCenter.Models.Pokemon>

@{
    ViewData["Title"] = "Our Pokémon";
}

<h1>Our Lovely Residents</h1>

<div class="container text-center">
        <div class="row" >
        @foreach(var item in Model)//Creates a column for each Pokemon in the database
        {
            string NewName = item.Name.Replace(' ', '-');//replaces all spaces with a '-' to avoid confusing the computer

            <div class="col" style="padding-bottom: 10px">
                <img src="@item.ImageOfPokemon" alt="@item.Name" style="width:300px; height:300px;" /><!--Image of Pokemon-->
                <div class="accordion-item" style="width: 300px; margin: auto;">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@NewName" aria-expanded="false" aria-controls="collapseOne">
                            @item.Name
                        </button>
                    </h2>
                    <div id="@NewName" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Species: @item.PokemonType</p>
                            <p>Age: @item.Age</p>
                            <p>@item.Description</p>
                        </div>
                        @if(item.IsAvailable == true)
                        {
                            <a href="@Url.Action("AdoptionSurvey", "Poke")" class="btn btn-primary">Apply for Adoption</a>
                        }
                    </div>
                </div>
            </div>
        }
        <div/>
</div>