@model IEnumerable<CPW221_PokemonAdoptionCenter.Models.Pokemon>

@{
    ViewData["Title"] = "Our Pokémon";
}

<h1>Our Lovely Residents</h1>

<div class="container text-center">
        <div class="row" style="padding-bottom: 10px">
        @foreach(var item in Model)
        {
            <div class="col">
                <img src="https://placehold.co/250"></img>
                <div class="accordion-item" style="width: 88%; margin: auto;">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            @item.Name
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Species: @item.PokemonType</p>
                            <p>Age: @item.Age</p>
                            <p>@item.Description</p>
                            <p>Available: @item.IsAvailable</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    <div/>

